* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.preloader {
    text-align: center;
    position: absolute; /* Cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Same as the body */
    z-index: 1000; /* Ensure it is on top */
}

.progress-text {
    font-size: 48px;
    font-weight: bold;
}

.content {
    display: none; /* Hide content initially */
}
